[Unit]
Description=Airflow DAG Processor
After=network.target postgresql.service
Wants=postgresql.service

[Service]
EnvironmentFile=/etc/default/airflow
User=root
Group=root
Type=simple
ExecStart=/root/airflow/venv/bin/airflow dag-processor
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
